<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
        <ion-button color="light" (click)="presentAlertConfirm()">Add</ion-button>
      </ion-buttons>
    <ion-title>todo's {{ category?.text }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-item-sliding *ngFor="let item of todos">
        <ion-item>
            <ion-label>{{item?.text}}</ion-label>
          </ion-item>
        
        <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteTodo(item)">Delete</ion-item-option>
        </ion-item-options>

      </ion-item-sliding>
    </ion-list>
</ion-content>
