<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button color="light" (click)="presentAlertConfirm()">New category</ion-button>
    </ion-buttons>
    <ion-title>Todoey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-item-sliding *ngFor="let item of categories">
        <ion-item (click)="goToTodoPage(item.id)">
            <ion-label>{{item?.text}}</ion-label>
            <ion-badge item-end color="dark">{{ item?.todos.length }} todo's</ion-badge>
          </ion-item>
        
        <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteCategory(item)">Delete</ion-item-option>
        </ion-item-options>

      </ion-item-sliding>
    </ion-list>
</ion-content>
